@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

html {
    font-size: 55.5%;
}

:root {
    --main-color: #333;
    --primary-color: #acacac;
    --icon-color: #525252;
}

header {
    display: flex;
    padding: 1rem 4rem 0rem;
    align-items: center;
    justify-content: space-between;
}

header .left_side_nav {
    display: flex;
    margin: 1rem 0 0rem 10rem;
    align-items: center;
}

header .left_side_nav .fa {
    font-size: 2rem;
    color: var(--icon-color);
    padding-right: 1.2rem;
    margin-top: -9px;
}

header .left_side_nav p {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
}

.right_side_nav {
    margin: 1rem 10rem 0rem 0;
}

.cart_img {
    font-size: 3rem !important;
    position: relative;
}
.cart_count {
    text-align: center;
    position: absolute;
    background: red;
    top: 5px;
    margin-left: -10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
}

.main_cart_section {
    padding: 1rem 4rem .6rem;
    margin: 1rem 0 1rem 10rem;
}

.main_cart_section h1 {
    font-size: 2.5rem;
}

.main_cart_section p {
    font-size: 1.6rem;
    margin-top: 0.7rem;
}
.total-items-count{
font-weight: 900;
padding: 0 3px;
font-size: 1.7rem;
color: red;
}

.fas {
    font-size: 2rem;
    color: var(--icon-color);
    cursor: pointer;
}

.cart_item_container {
    width: 100%;
    height: 42rem;
    background: linear-gradient(103.49deg,
            #ffffff -28.13%,
            rgba(242, 247, 255, 0.5) 116.84%);
    box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem;
    border-radius: 2rem;
    margin: auto;
    margin-top: 2rem;
    display: grid;
    place-items: center;
}

.cart_items {
    width: 90%;
    height: 36rem;
}

.items_info {
    width: 100%;
    height: 9rem;
    /* background-color: lavender; */
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.items_info .product_img img {
    width: 15rem;
    height: 8rem;
    filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
    border-radius: 1rem;
}


.items_info .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.items_info .title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: var(--main-color);
}

.items_info .title p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-align: left;
    color: var(--primary-color);
}

.add-minus-quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-minus-quantity button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.add-minus-quantity input {
    width: 6rem;
    height: 3rem;
    border: 0.141rem solid var(--primary-color);
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    margin: 0 1rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: transparent;
}

.add-minus-quantity input:focus {
    outline: none;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.price h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    color: rgb(12, 12, 12);
}

.remove_item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
}

.remove_item button {
    border: none;
    background-color: transparent;
}

/* hover effects  */
.fa-trash-alt {
    color: #ed4848;
}

.fa-plus:hover {
    color: #42c157;
}

.fa-minus:hover {
    color: #ffb800;
}

.fa-plus,
.fa-minus {
    color: var(--icon-color);
}

.main_cart_section h3 span{
    color: red;
}
.main_cart_section .clear{
    font-size:12px;
    background: #FFD2AA;
    font-weight: 600;
    margin: 13px 20px 0 0;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
}
.main_cart_section .check_out{
    font-size:12px ;
       background: #F1CBFF;
    font-weight: 600;
    margin: 13px 0 0 ;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
}


@media only screen and (max-width:998px) {
.cart_count{
    top:17px;
}
}

@media only screen and (max-width:740px) {
    .items_info {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .items_info .product_img img {
       width: 100%;
       height: 90%;
    }
    .items_info .product_img {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
      }
    
      .add-minus-quantity {
        margin: 3rem 0 2rem 0;
        justify-content: flex-start;
      }
    
      .price {
        margin-top: -57px;
        margin-right: 225px;
      }
    
      .price h3::before {
        content: "Price: ";
      }
    
      .remove_item {
        margin-top: -50px;
      }
    
}
@media only screen and (max-width:340px) {
    html {
        font-size: 50% !important;
    }
}

@media only screen and (max-width:998px) {
    html {
        font-size: 50% !important;
    }

    .left_side_nav {
        margin: 3rem 0 1rem 1rem !important;
    }

    .right_side_nav {
        margin: 3rem 1rem 1rem 0 !important;
    }

    .main_cart_section {
        margin: 3rem 0 1rem 1rem;
    }
}

@media only screen and (max-width:500px) {
    html {
        font-size: 47% !important;
    }

}

@media only screen and (max-width:500px) {
    html {
        font-size: 43% !important;
    }
}

